<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 3</b></font>

Отлично, метод сводных таблиц реализован корректно. Он нам сильно пригодится в последующих проектах. Работа выполнена хорошо. Поздравляю со сданным проектом. Надеюсь, он был интересен и познавателен. Успехов в дальнейшем пути :)

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Привет еще раз. Спасибо, что доделал работу. Оформление комментариев по работе сохраняется. Только обозначим, что это вторая итерация. 

</div>

<b>Артём, спасибо! я всё поправил)

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера</b></font>

Привет, Айдар! Спасибо, что прислал задание:) Меня зовут Слепцов Артем и я буду проверять твой проект) Ты проделал большую работу над проектом. Будет здорово, если ты, надеюсь, не против, если я буду на ты, будешь отвечать на комментарии и участвовать в диалоге. Если обращение на ты неприемлемо, то прошу сообщить. 

Мои комментарии обозначены пометкой **Комментарий ревьюера**. Далее в файле ты сможешь найти их в похожих ячейках:
    
<div class="alert alert-success">Успех: Если фон комментария зелёный - всё сделано правильно. Рекомендации укажу таким же цветом;</div>
        
<div class="alert alert-warning">Совет: Оранжевый - некритичные замечания;</div>
        
<div class="alert alert-danger">Ошибка: Красный - нужно переделать. </div>
        
Не удаляй эти комментарии и постарайся учесть их в ходе выполнения данного проекта. Свои же комментарии ты можешь обозначать любым заметным способом. 

</div>

<b>Привет, Артём! спасибо за проверку и ценные комменты! свои комментарии я оставил под твоими (пока не научился выделять другим цветом), что смог исправил

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Вполне можешь использовать синий цвет для своих комментариев. Шаблон можно составить из моих комментариев выше. 

</div>

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Решение:
для каждого количества детей найти долю клиентов, имеющих задолженность (значение в столбце 'debt' == 1)
вычтем эту долю из 1, получим долю клиентов, неимеющих задолженность

In [22]:
number_of_kids = data['children'].sort_values().unique()

for number in number_of_kids:
    number_of_clients = data.loc[(data['children'] == number)]['debt'].count()
    percentage = 1 - (data.loc[(data['children'] == number) & data['debt'] == 1]['debt'].count() / number_of_clients)
    print('количество детей:', number, '/', '{:.1%}'.format(percentage), '/', number_of_clients)
    
print('---------------------------------------')
number_of_all = data.loc[(data['children'] != 0)]['debt'].count()
percentage_all = 1 - (data.loc[(data['children'] != 0) & data['debt'] == 1]['debt'].count() / number_of_all)

print('любое количество детей', '{:.1%}'.format(percentage_all), number_of_all, sep = ' / ')

количество детей: 0 / 92.5% / 14091
количество детей: 1 / 90.8% / 4808
количество детей: 2 / 90.5% / 2052
количество детей: 3 / 91.8% / 330
количество детей: 4 / 90.2% / 41
количество детей: 5 / 100.0% / 9
---------------------------------------
любое количество детей / 90.8% / 7240

**Вывод:** 

1) однозначной зависимости между количеством детей и возвратом кредита в срок нет, поскольку для каждой категории (количества детей) сильно отличается количество клиентов

2) можно утверждать, что наличие детей в целом уменьшает вероятность возврата кредита в срок на 1.7%, поскольку в такой выборке количество клиентов сопоставимо: ~14 тыс клиентов без детей и ~7 тыс клиентов с детьми

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>

Успех: Вывод не противоречит полученному результату. 

</div>

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Решение:
аналогично 3.1 для каждого вида статуса найти долю клиентов, имеющих задолженность (значение в столбце 'debt' == 1)
вычтем эту долю из 1, получим долю клиентов, неимеющих задолженность

In [23]:
df = (1-data.groupby('family_status')['debt'].sum() / data.groupby('family_status')['debt'].count())

df.sort_values()

family_status
Не женат / не замужем    0.902361
гражданский брак         0.906870
женат / замужем          0.924394
в разводе                0.929352
вдовец / вдова           0.933754
Name: debt, dtype: float64

**Выводы:**

Также видим большую разницу в количестве клиентов, находящихся в определенном семейном положении. Эта разница, скорее всего, в целом характерна для общества. 

Можно предположить, что отсутствие задолженности связано с возрастом клиента: если посмотреть на столбец "статус" то его можно сравнить с этапами жизни, упорядоченными в хронологическом порядке. Неженатые и незамужние, это, как правило, люди молодые. С возрастом эти люди вступают сначала в неофициальный (гражданский), а затем и в официальный брак, потом разводятся или становятся вдовами/вдовцами. Т.е. чем старше человек, тем лучше он платит по кредиту.

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: Результаты верны, но так расчеты никто не проводит. Старайся вообще не исипользовать циклы по строкам таблиц. Они работают крайне неэффективно. Попробуй использовать группировку groupby с расчетом числа клиентов и должников в группах.

</div>

<b>Да, так гораздо проще!

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Отличная реализация.  

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>
  
Совет: Будет здорово, если ты освоишь метод [agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html), который можно применить после группировки и передать в него лист с аггрегирующими функциями: sum - для подсчета числа должников, count - для подсчета общего числа клиентов в группах и mean - для нахождения доли должников в каждой из групп. 

</div>

<b>Пока не понял, как применить этот метод для этой задачи

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Ниже приведу пример. На самом деле банку более важна информация о доле должников. А sum/count=mean, т.е. доля должников в группах.

</div>

<b>Теперь понял, спасибо!

In [28]:
data.groupby('family_status')['debt'].agg(['count', 'mean'])

                       count      mean
family_status
Не женат / не замужем   2796  0.097639
в разводе               1189  0.070648
вдовец / вдова           951  0.066246
гражданский брак        4134  0.093130
женат / замужем        12261  0.075606

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [37]:
income_level = data['total_income_category'].unique()

pcnt = []
clients_count = []
for level in income_level:
    number_of_clients = data.loc[(data['total_income_category'] == level)]['debt'].count()
    ratio = '{:.1%}'.format(1 - (data.loc[(data['total_income_category'] == level) & data['debt'] == 1]['debt'].count() / number_of_clients))
    clients_count.append(number_of_clients)
    pcnt.append(ratio)
d = {'уровень дохода': income_level, 'процент возвратов': pcnt,'общее количество': clients_count}
df = pd.DataFrame(data=d)

df.sort_values(by='уровень дохода')

  уровень дохода процент возвратов  общее количество
4              A             92.0%                25
0              B             92.9%              5014
1              C             91.5%             15921
2              D             94.0%               349
3              E             90.9%                22

**Вывод:** 

Также видим большую разницу в количестве клиентов, имеющих определенный доход.
Если рассматривать ядро из категорий В и С, то разница составляет всего 0.6%. 
Самый низкий процент возвратов соответствует клиентам с самыми высокими доходами, хотя эта категория клиентов реже всего обращается за кредитом.

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>

Успех: Заметь, что не все группы иммеют достаточный размер для построения по ним надежных выводов. 

</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [40]:
data_pivot = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='mean').reset_index()
data_pivot

           purpose_category      debt
0    операции с автомобилем  0.093480
1  операции с недвижимостью  0.072551
2     получение образования  0.092528
3        проведение свадьбы  0.079118

**Вывод:** 

Самый высокий процент возвратов имеют кредиты, выданные на операции с недвижимостью. При получении образования и покупки автомобиля возвратов в срок на 2% меньше. Проведение свадьбы является менее популярной целью кредита, а процент возвратов в срок почти такой же, как для недвижимости.

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: На данном шаге рекомендуется использовать метод сводных таблиц (pivot_table()). Однако он является аналогом метода groupby(). Изучи метод сводных таблиц и примени его хотя бы в одном пункте анализа.

</div>

<b>я переделал, применив группировку

<b>для создания сводной таблицы, не знаю, что нужно передать в aggfunc

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Ошибка: Давай при помощи сводных таблиц получим аналогичную таблицу, как сделано выше через groupby. В index стоит передать только параметр purpose_category. В aggfunc нужно передать метод mean, именно он позволит нам найти долю должников. 

</div>

<b> Теперь всё встало на свои места)
    
p.s. сбросил индексы, чтобы избавиться от двухэтажной индексации

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 

В полученном массиве данных, пропуски встречаются в двух столбцах:

- days_employed
- total_income

скорее всего, это связано с нежеланием заемщиков предоставить данные о своих доходах

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 

медианное значение исключает аномальные или нехарактерные выбросы в данных

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>

Успех: Не совсем исключает. Медиана учитывает такие значения в расчете, однако они не оказывают сильного влияния. 

</div>

### Шаг 4: общий вывод.

Целью работы было разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

В ходе выполнения работы сначала была проведена предобработка входных данных: удалены дубликаты, заполнены пропуски.
Затем данные были сгруппированы по различным категориям: цель взятия кредита, доход клиента, количество детей, семейное положение. 

В резульатет анализа полученных данных можно сделать следующие выводы:

1) однозначной зависимости между количеством детей и возвратом кредита в срок не наблюдается

2) наличие детей в целом увеличивает вероятность образования задолженности на 1.7%

3) самый высокий процент возвратов имеют кредиты, выданные на операции с недвижимостью

4) при получении образования и покупки автомобиля возвратов в срок на 2% меньше

5) процент возвратов кредитов на проведение свадьбы почти такой же, как для недвижимости

6) самый низкий процент возвратов соответствует клиентам с самыми высокими доходами, хотя эта категория клиентов реже всего обращалась за кредитом 

7) на факт погашения кредита в срок влияет семейное положение клиента: неженатые и незамужние клиенты чаще имеют задолженность, чем клиенты, находящиеся в неофициальном (гражданском) или официальном браке

8) клиенты в разводе или вдовствующие имеют ещё меньше задолженностей по кредиту

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: Финальный вывод и есть главный результат твоей работы. Стоит писать его подробно по результатам проведенной работы. Стоит описать доходы и цель работы. В выводах можно приводить полученные в ходе работы значения. Также можно расписать все, что было сделано в работе.

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Выводы описаны грамотно. Приведены ответы на главные вопросы проекта. В выводах можно приводить полученные ранее значения, правильно. Здорово, что по каждому пункту работы приведен вывод.     

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера</b></font>

Ты проделал большую работу, молодец! Ты овладел важными на данном этапе обучения инструментами, а также довольно качественно их используешь. Критических замечаний немного. Однако их важно исправить. Думаю, сделать это тебе не составит труда. Жду твою работу :)

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Осталось лишь разобраться с методом сводных таблиц, и проект будет готов. Как сделаешь это, присылай работу снова. Буду ждать :)

</div>